<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD/Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myPageMapper">

<resultMap type="semi.project.bookmaroo.board.model.vo.Review" id="myReviewResultMap">
	<id property="reviewNo" column="REVIEW_NO"/>
	<result property="memberNo" column="M_NO"/>
	<result property="reviewerName" column="M_NAME"/>
	<result property="rentNo" column="RENT_NO"/>
	<result property="bookName" column="B_NAME"/>
	<result property="bookImage" column="B_IMAGE"/>
	<result property="reviewTitle" column="REVIEW_TITLE"/>
	<result property="reviewContent" column="REVIEW_CONTENT"/>
	<result property="reviewUpdateDate" column="REVIEW_UPDATE_DATE"/>
	<result property="reviewViews" column="REVIEW_VIEWS"/>
	<result property="starRating" column="STAR_RATING"/>
	<result property="reviewBookISBN" column="REVIEW_BOOK_ISBN"/>
</resultMap>

<resultMap type="semi.project.bookmaroo.board.model.vo.Reply" id="myReplyResultMap">
	<id property="replyNo" column="REPLY_NO"/>
	<result property="memberNo" column="M_NO"/>
	<result property="replyWriter" column="M_NAME"/>
	<result property="refBoardNo" column="REF_BOARD_NO"/>
	<result property="replyContent" column="REPLY_CONTENT"/>
	<result property="replyUpdateDate" column="REPLY_UPDATE_DATE"/>
</resultMap>

<resultMap type="semi.project.bookmaroo.board.model.vo.Board" id="myBoardResultMap">
	<id property="boardNo" column="B_NO"/>
	<result property="memberNo" column="M_NO"/>
	<result property="writer" column="M_NAME"/>
	<result property="boardTitle" column="B_TITLE"/>
	<result property="boardContent" column="B_CONTENT"/>
	<result property="boardUpdateDate" column="B_UPDATE_DATE"/>
	<result property="boardViews" column="B_VIEWS"/>
	<result property="boardType" column="B_TYPE"/>
</resultMap>

<select id="countMyReviewList" resultType="_int">
	select count(*)
	from review
	where M_NO = #{mNo}
</select>

<select id="getMyReviewList" resultMap="myReviewResultMap">
	select REVIEW_NO, M_NO, M_NAME, RENT_NO, B_NAME, B_IMAGE, REVIEW_TITLE,
		 REVIEW_CONTENT, REVIEW_UPDATE_DATE, REVIEW_VIEWS, STAR_RATING, REVIEW_BOOK_ISBN
	from review
		join member using (M_NO)
		join book on (REVIEW_BOOK_ISBN=ISBN)
	where M_NO = #{mNo}
	order by REVIEW_NO desc
</select>

<select id="countMyReplyList" resultType="_int">
	select count(*)
	from reply
	where m_no = #{mNo}
</select>

<select id="getMyReplyList" resultMap="myReplyResultMap">
	select REPLY_NO, M_NO, M_NAME, REF_BOARD_NO, REPLY_CONTENT, REPLY_UPDATE_DATE
	from reply
		join member using (M_NO)
	where m_no = #{mNo}
	order by REPLY_NO desc		
</select>

<select id="countMyBoardList" resultType="_int">
	select count(*)
	from board
	where m_no = #{mNo} and b_type = '2'
</select>

<select id="getMyBoardList" resultMap="myBoardResultMap">
	select B_NO, M_NO, M_NAME, B_TITLE, B_CONTENT, B_UPDATE_DATE, B_VIEWS, B_TYPE
	from board
		join member using (M_NO)
	where B_TYPE = '2' and M_NO = #{mNo}
	order by b_no desc
</select>

<!-- <select id="findRefBoard" resultMap="myBoardResultMap"> -->
<!-- 	select B_NO, M_NO, M_NAME, B_TITLE, B_CONTENT, B_UPDATE_DATE, B_VIEWS, B_TYPE -->
<!-- 	from review -->
<!-- 	 join BOARD on (REF_BOARD_NO = B_NO) -->
<!-- 	 join MEMBER using (M_NO) -->
<!-- 	where REF_BOARD_NO = #{replyNo} -->
<!-- </select> -->





































</mapper>