<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="semi.project.bookmaroo.book.model.vo.Book" alias="Book"/>
		<typeAlias type="semi.project.bookmaroo.book.model.vo.BookCheck" alias="BookCheck"/>
		<typeAlias type="semi.project.bookmaroo.guide.model.vo.FAQ" alias="FAQ"/>
		<typeAlias type="semi.project.bookmaroo.member.model.vo.Member" alias="Member"/>

		<typeAlias type="semi.project.bookmaroo.admin.book.model.vo.AdminBook" alias="Book1"/>
		<typeAlias type="semi.project.bookmaroo.admin.board.model.vo.Notice" alias="Notice"/>
		<typeAlias type="semi.project.bookmaroo.admin.board.model.vo.Popup" alias="Popup1"/>
		<typeAlias type="semi.project.bookmaroo.admin.board.model.vo.Attachment" alias="Attachment"/>
		<typeAlias type="semi.project.bookmaroo.admin.model.vo.Books" alias="Books"/>
		<typeAlias type="semi.project.bookmaroo.board.model.vo.Board" alias="Board"/>
		<typeAlias type="semi.project.bookmaroo.admin.model.vo.Review" alias="Review"/>
		<typeAlias type="semi.project.bookmaroo.admin.model.vo.User" alias="User"/>
		<typeAlias type="semi.project.bookmaroo.admin.model.vo.Wishes" alias="Wishes"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/book-mapper.xml"/>
		<mapper resource="mappers/guide-mapper.xml"/>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="/mappers/board-mapper.xml"/>
		<mapper resource="mappers/admin-mapper.xml"/>
		
		<mapper resource="/mappers/myPage-mapper.xml"/>
		
		
		
		
		
		
		<!-- 관리자 페이지 -->
		<mapper resource="mappers/employee-mapper.xml"/>
		<mapper resource="mappers/adminGuide-mapper.xml"/>
	</mappers>
	
</configuration>
