<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<insert id="insertMember">
		insert into member
		values(seq_m_no.nextval, #{memId}, #{password}, #{memName}, 
		#{phone}, sysdate, default, default, #{loginType}, #{kakaoId}, default)
	</insert>
	
	<!-- setter 명과, resultSet으로 가져온 컬럼명이 불일치 : 직접 매핑 -->
	<resultMap type="Member" id="memberResultSet">
		<id property="memNo" column="M_NO"/>
		<result property="memId" column="M_ID"/>
		<result property="password" column="PASSWORD"/>
		<result property="memName" column="M_NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="enrollDate" column="ENROLLDATE"/>
		<result property="isRental" column="IS_RENTAL"/>
		<result property="isAdmin" column="IS_ADMIN"/>
		<result property="loginType" column="LOGIN_TYPE"/>
		<result property="kakaoId" column="KAKAO_ID"/>
		<result property="memStatus" column="M_STATUS"/>
	</resultMap>
	
	<select id="findByKakaoId" resultMap="memberResultSet">
		select * 
		from member
		where kakao_Id = #{kakaoId}
	</select>
	
	<select id="login" resultMap="memberResultSet">
		select *
		from member
		where m_id=#{memId} and m_status='Y'
	</select>
	
	<update id="kakaoAdd">
		update member
		set m_name=#{memName}, phone=#{phone}
		where m_no=#{memNo}
	</update>
	
	<select id="checkId" resultType="_int">
		select count(*)
		from member
		where m_id=#{memId}
	</select>
	
	<select id="findPwdCode" resultType="_int">
		select count(*)
		from member
		where m_id=#{memId} and phone=#{phone} and m_name=#{memName} and m_status='Y'
	</select>
	
	<update id="changePwd">
		update member
		set password=#{password}
		where m_id=#{memId} and m_status='Y'
	</update>
	
	<select id="findId" resultMap="memberResultSet">
		select *
		from member
		where m_Name=#{memName} and phone=#{phone} and m_status='Y'		
	</select>
	
	<update id="deleteMember">
		update member
		set m_status='N'
		where m_id=#{memId}
	</update>
	
	<update id="updatePwd">
		update member
		set password=#{password}
		where m_id=#{memId}
	</update>
	
	<update id="updatePhone">
		update member
		set phone=#{phone}
		where m_no=#{memNo}
	</update>
	
</mapper>
